---
layout: default
---
<!-- <ul class="wikiMenu">
  {% for p in site.pages %}
    {% if p.menu == "wiki" %}
    <li><a class="post-link" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
    {% endif %}
  {% endfor %}
</ul>
 -->
{% assign guides_size = site.data.guides | size | minus: 1 %}


{% for index in (0..guides_size) %}
  {% assign guide = site.data.guides[index] %}
  {% assign guide_pg_length = guide.pages | size | minus: 1 %}
    {% if guide_pg_length > 0 %}
      <ul><li>{{guide.title}}</li>
  
      <ol>
        {% for index_j in (0..guide_pg_length) %}
        <li><a class="post-link" href="{{ guide.pages[index_j].path | prepend: site.baseurl }}">{{guide.pages[index_j].name}}</a></li>
          <!-- <li>{{guide.pages[index_j].name}}</li> -->
        {% endfor %}
      </ol>
      </ul>
    {% else %}
      <ul><li><a class="post-link" href="{{ guide.pages[0].path | prepend: site.baseurl }}">{{guide.title}}</a></li>

      </ul>
    {% endif %}
  
  
{% endfor %}

<!-- <div>
  <ul class="wikiMenu">
    {% for p in site.pages %}
      {% if p.menu == "wiki" %}
      <li><a class="post-link" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
 --><div class="doc_content">
  {{ content }}
</div>