---
layout: default
---
{% assign projects = site.hellowikicollection | sort: "primary_order" %}
<nav id="mysidebar_dani" class="col-sm-3 col-md-3 bs-docs-sidebar">
    <ul id="sidebar" class="nav nav-stacked fixed">
        {% assign items_grouped = site.hellowikicollection | sort: 'primary_order' | group_by: 'primary_order' %}
        {% for group in items_grouped %}
          <li>
          {% assign items = group.items %}
          {% assign item_size = group.items | size %}
          {% if item_size  > 1 %}
            {% assign items = items | sort: 'secondary_order' %}
            {% assign title_name = items[0].tab_title %}
            <a href="{{ items[0].url | prepend: site.baseurl }}">{{title_name}}</a>
            <ul class="nav nav-stacked">
                {% for item in items %}
                    <li><a href="{{ item.url | prepend: site.baseurl }}">{{item.title}}</a></li>
                {% endfor %}
            </ul>
          {% else %}
            {% assign title_name = items[0].title %}
            <a href="{{ items[0].url | prepend: site.baseurl }}">{{title_name}}</a>
          {% endif %}
          </li>
        {% endfor %}   
    </ul>
</nav>


<div class="col-sm-9 col-md-9 doc_content">
  {{ content }}
</div>
