---
layout: default
---
<nav id="mysidebar_dani" class="col-sm-3 col-md-3 bs-docs-sidebar">
    <ul id="sidebar" class="nav nav-stacked fixed">
        <li>
            <a href="#">Group A</a>
            <ul class="nav nav-stacked">
                <li><a href="#GroupASub1">Sub-Group 1</a></li>
                <li><a href="#GroupASub2">Sub-Group 2</a></li>
            </ul>
        </li>
        <li>
            <a href="#GroupB">Group B</a>
            <ul class="nav nav-stacked">
                <li><a href="#GroupBSub1">Sub-Group 1</a></li>
                <li><a href="#GroupBSub2">Sub-Group 2</a></li>
            </ul>
        </li>
        <li>
            <a href="#GroupC">Group C</a>
            <ul class="nav nav-stacked">
                <li><a href="#GroupCSub1">Sub-Group 1</a></li>
                <li><a href="#GroupCSub2">Sub-Group 2</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div class="col-sm-3 col-md-3 sidebar">
    <div class="mini-submenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>
    <div class="list-group">
        <span href="#" class="list-group-item active">
            Hello Wiki
            <span class="pull-right" id="slide-submenu">
                <i class="fa fa-times"></i>
            </span>
        </span>
        {% for p in site.pages %}
            {% if p.menu == "wiki" %}
                <a href="{{ p.url | prepend: site.baseurl }}" class="list-group-item">
                    <i class="fa fa-comment-o"></i> {{ p.title }}
                </a>
            {% endif %}
        {% endfor %}

        <span href="#" class="list-group-item active">
            GNS Wiki
            <span class="pull-right" id="slide-submenu">
                <i class="fa fa-times"></i>
            </span>
        </span>
        {% for p in site.pages %}
            {% if p.menu == "gns_wiki" %}
                <a href="{{ p.url | prepend: site.baseurl }}" class="list-group-item">
                    <i class="fa fa-comment-o"></i> {{ p.title }}
                </a>
            {% endif %}
        {% endfor %}
        {% assign guides_size = site.data.guides | size | minus: 1 %}

        <span href="#" class="list-group-item active">
            Guide File Path
            <span class="pull-right" id="slide-submenu">
                <i class="fa fa-times"></i>
            </span>
        </span>

        {% for index in (0..guides_size) %}
          {% assign guide = site.data.guides[index] %}
          {% assign guide_pg_length = guide.pages | size | minus: 1 %}
            {% if guide_pg_length > 0 %}
                <span href="#" class="list-group-item active">
                    {{guide.title}}
                    <span class="pull-right" id="slide-submenu">
                        <i class="fa fa-times"></i>
                    </span>
                </span>
              
          
              
                {% for index_j in (0..guide_pg_length) %}
                <a href="{{ guide.pages[index_j].path | prepend: site.baseurl }}" class="list-group-item">
                    <i class="fa fa-comment-o"></i> {{guide.pages[index_j].name}}
                </a>
                <!-- <li><a class="post-link" href="{{ guide.pages[index_j].path | prepend: site.baseurl }}">{{guide.pages[index_j].name}}</a></li> -->
                  <!-- <li>{{guide.pages[index_j].name}}</li> -->
                {% endfor %}
              
            {% else %}
                <span href="#" class="list-group-item active">
                    <a class="list-group-item" href="{{ guide.pages[0].path | prepend: site.baseurl }}">{{guide.pages[0].name}}</a>
                    
                </span>
              
            {% endif %}
          
            
        {% endfor %}




    </div>        
  </div>

<div class="col-sm-6 col-md-6 doc_content">

  {{ content }}
</div>
